global
	cpu-policy performance

defaults
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend h1_frontend
    bind :8082 alpn h1
    default_backend minio_backend

frontend h1_ssl_frontend
    bind :8092 ssl crt /etc/ssl/certs/combined.pem alpn h1
    default_backend minio_backend

frontend h2_frontend
    bind :8445 ssl crt /etc/ssl/certs/combined.pem alpn h2
    default_backend minio_backend

backend minio_backend
    balance roundrobin
	mode http
    server minio1 127.0.0.1:9000 maxconn 1024
    server minio2 127.0.0.1:9000 maxconn 1024
    server minio3 127.0.0.1:9000 maxconn 1024
    server minio4 127.0.0.1:9000 maxconn 1024
    server minio5 127.0.0.1:9000 maxconn 1024
    server minio6 127.0.0.1:9000 maxconn 1024
    server minio7 127.0.0.1:9000 maxconn 1024
    server minio8 127.0.0.1:9000 maxconn 1024
    server minio9 127.0.0.1:9000 maxconn 1024
    server minio10 127.0.0.1:9000 maxconn 1024
    server minio11 127.0.0.1:9000 maxconn 1024
    server minio12 127.0.0.1:9000 maxconn 1024
    server minio13 127.0.0.1:9000 maxconn 1024
    server minio14 127.0.0.1:9000 maxconn 1024
    server minio15 127.0.0.1:9000 maxconn 1024
    server minio16 127.0.0.1:9000 maxconn 1024
